@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    min-height: calc(100vh - 70px);
}

nav {
    .active {
        @apply text-gray-500;
    }
}

footer {
    height: 70px;
}

h1 {
    text-shadow: 2px 2px 0 rgba(0,0,0,.15);
}

.browser {
    span {
        line-height: 9px;
        vertical-align: 50%;
    }

    .window {
        @apply w-full border border-dark rounded-lg shadow-lg;
    }

    .titlebar {
        @apply bg-dark border-b border-dark rounded-t-lg text-gray-100 text-sm;

        text-shadow: 2px 2px 0 rgba(0,0,0,.15);
        width: 100%;
        height: 20px;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: default;
        line-height: 18px;
    }

    .buttons {
        @apply mr-3;

        padding-left: 6px;
        padding-top: 4px;
        float: left;
        line-height: 0;
    }

    .close {
        background: #ff5c5c;
        font-size: 9pt;
        width: 11px;
        height: 11px;
        border: 1px solid #e33e41;
        border-radius: 50%;
        display: inline-block;
    }

    .minimize {
        background: #ffbd4c;
        font-size: 9pt;
        line-height: 11px;
        margin-left: 3px;
        width: 11px;
        height: 11px;
        border: 1px solid #e09e3e;
        border-radius: 50%;
        display: inline-block;
    }

    .zoom {
        background: #00ca56;
        font-size: 9pt;
        line-height: 11px;
        margin-left: 5px;
        width: 11px;
        height: 11px;
        border: 1px solid #14ae46;
        border-radius: 50%;
        display: inline-block;
    }

    .content {
        @apply relative;

        &:hover {
            .overlay {
                @apply opacity-100;
            }

            .text{
                @apply top-1/2 left-1/2 opacity-100;
            }
        }

        img {
            height: 250px;
            object-fit: fill;
        }

        .overlay {
            @apply absolute bg-black w-full left-0 top-0 bottom-0 right-0 m-0 p-0 opacity-0;

            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }

        .text {
            @apply absolute text-center w-full left-1/2 top-2/5 opacity-0 tracking-wider font-semibold;

            text-shadow: 2px 2px 0 rgba(0,0,0,.15);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
    }
}

.note-editor.note-airframe, .note-editor.note-frame {
    border: none !important;
}

.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable {
    @apply bg-dark text-white #{!important};
}
